<div class="header-logo">
  <img src="/img/logo_narrow.png" alt="small-and-mighty">
</div>
<div class="header-nav">
  <ul>
    <!-- update these for visibility for logged in users / not logged in -->
    <% if(!currentUser){ %>
    <li><a href="/sessions/login">Login</a></li>
    <li><a href="/users/new">New User</a></li>
    <% } %>
    <% if(currentUser){ %>
    <li><a href="/home/new">Create Article</a></li>
    <li>
      <form class="logout-form" action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout">
      </form>
    </li>
    <% } %>
  </ul>
</div>
