body {
  background-color: #CFD2AD;
  font-family: 'PT Sans', sans-serif;
  color: #515451;
  margin: 0;
}

/* ========== */
/* HEADER */
/* ========== */

header {
  background-color: #CFD2AD;
}

header h1 {
  margin-left: 20px;
}

.header-nav {
  display: flex;
  justify-content: center;
  background-color: #F9F4D3;
  font-size: 16px;
  color: white;
  width: 100%;
}

.header-nav ul {
  list-style: none;
  padding: 0;
}

.header-nav li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0;
}

.header-nav a {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px;
  color: #515451;
  /* color: white; */
  text-decoration: none;
  font-weight: bolder;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 120px;
  /* height: 150px; */
}

.header-logo img {
  margin: 0 auto;
  padding-top: 10px;
  height: 70px;
}

.header-logo h4 {
  margin: 0 auto;
  padding: 5px;
  color: #808251;
  text-transform: uppercase;
  font-size: 20px;
}

.logout-form input[type=submit] {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  padding: 0 10px;
  color: #515451;
  font-weight: bolder;
  background: none;
  border: none;
  font-size: 16px;
}

/* ========== */
/* ARTICLES HOME */
/* ========== */

.articles-index {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
}

.article-card {
  width: 300px;
  height: 200px;
  display: flex;
  margin: 5px;
  padding: 0;
}

.article-card img {
  position: relative;
  width: 300px;
  object-fit: contain;
}

.article-card h2 {
  width: 290px;
  position: absolute;
  z-index: 1;
  margin: 3px;
  background: rgba(81, 84, 81, .8);
}

.article-card a {
  text-decoration: none;
  color: white;
  padding: 3px;
}

/* ========== */
/* ARTICLES SHOW */
/* ========== */

.show-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.show-container h1 {
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  color: white;
  background: rgba(81, 84, 81, .8);
  padding: 3px;
}

.show-main img {
  position: relative;
  width: 500px;
  object-fit: contain;
  margin-top: 10px;
}

/* ========== */
/* ARTICLES NEW */
/* ========== */

.new-form {
  margin-left: 20px;
}

/* ========== */
/* SESSIONS NEW */
/* ========== */

.login-form {
  margin: 20px;
}

/* ========== */
/* USERS NEW */
/* ========== */

.new-user-form {
  margin: 20px;
}

/* ========== */
/* FORUM INDEX */
/* ========== */

.forum-container {
  margin: 20px;
}

.forum-container a {
  color: #515451;
  text-decoration: none;
  font-weight: bolder;
}

.new-question a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #808251;
}

/* ========== */
/* FORUM SHOW */
/* ========== */

.show-post-main {
  margin-left: 20px;
}
/* ========== */
/* FORUM NEW */
/* ========== */

.new-post-form {
  margin-left: 20px;
}
