body {
  background-color: #CFD2AD;
  font-family: 'PT Sans', sans-serif;
  color: #515451;
}

/* ========== */
/* ARTICLES HOME */
/* ========== */

.articles-index {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
}

.article-card {
  width: 300px;
  height: 200px;
  display: flex;
  margin: 5px;
  padding: 0;
}

.article-card img {
  position: relative;
  width: 300px;
  object-fit: contain;
}

.article-card h2 {
  width: 290px;
  position: absolute;
  z-index: 1;
  margin: 3px;
}

.article-card a {
  text-decoration: none;
  color: white;
  background: rgba(81, 84, 81, .8);
  padding: 3px;
}

/* ========== */
/* ARTICLES SHOW */
/* ========== */

.show-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.show-container h1 {
  position: absolute;
  z-index: 1;
  margin: 3px;
  color: white;
  background: rgba(81, 84, 81, .8);
  padding: 3px;
}

.show-main img {
  position: relative;
  width: 500px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* ========== */
/* HEADER */
/* ========== */

header {
  background-color: #CFD2AD;
}

.header-nav {
  display: flex;
  justify-content: center;
}

.header-nav ul {
  list-style: none;
  padding: 0;
}

.header-nav li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0;
}

.header-nav a {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px;
  color: #515451;
  text-decoration: none;
}

.header-logo {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  height:100px;
}

.header-logo img {
  margin: 0 auto;
  padding: 0;
  object-fit: contain;
}
