<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
      <h1>New Article</h1>
    </header>
    <form class="new-form" action="/home" method="POST">
      <!-- title input -->
      <label for="title">Title</label>
      <input type="text" name="title" />
      <!-- body input -->
      <label for="body">Body</label>
      <input type="text" name="body" />
      <!-- author input - - - REMOVE ONCE USERS WORK -->
      <label for="author">Author</label>
      <input type="text" name="author" />
      <!-- image input -->
      <label for="img">Link to Image</label>
      <input type="text" name="img" />
      <!-- submit -->
      <input type="submit" value="Add Article" />
    </form>
  </body>
</html>
