<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
      <h1>New Article</h1>
    </header>
    <form class="new-post-form" action="/forum" method="POST">
      <!-- question input -->
      <label for="question">Question/Comment</label>
      <input type="text" name="question" />
      <!-- description input -->
      <label for="description">Description</label>
      <input type="text" name="description" />
      <!-- author input -->
      <input type="hidden" name="author" value="<%currentUser;%>"/>
      <!-- submit -->
      <input type="submit" value="Post" />
    </form>
  </body>
</html>
