<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
      <h1>Log In</h1>
    </header>
    <form class="login-form" action="/sessions" method="POST">
      <!-- name input -->
      <label for="name">Name</label>
      <input type="text" name="name" />
      <!-- password input -->
      <label for="password">Password</label>
      <input type="password" name="password" />
      <input type="submit" value="Log In" />
    </form>
  </body>
</html>
